* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.gray {
  color: #918e9b;
}
.bold {
  font-weight: 600;
}
.app {
  max-width: 550px;
  margin: 10px auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.nav {
  padding: 22.65px 0 22.65px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav > img {
  width: 82px;
}

.hero {
  padding: 26px 36px;
}
.hero > img {
  padding: 0 40px;
  margin-bottom: 32px;
}
.hero > h1 {
  margin: 0 auto 16px 0;
  font-size: 36px;
  font-weight: 600;
}
.hero > p {
  width: 320px;
  font-size: 16px;
  font-weight: 300;
}
.card {
  width: 176px;
  font-size: 12px;
}
.card > img {
  border-radius: 9px;
}
.card .status {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.card .status > img {
  position: relative;
  top: -1px;
  width: 14px;
  height: 14px;
  filter: invert(32%) sepia(53%) saturate(3215%) hue-rotate(330deg)
    brightness(102%) contrast(99%);
}
.card .status > span {
  line-height: 14px;
}
.card > p {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: 300;
}
