* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.app {
  max-width: 550px;
  margin: 10px auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.nav {
  padding: 22.65px 0 22.65px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav > img {
  width: 82px;
}

.hero {
  padding: 26px 36px;
}
.hero > img {
  padding: 0 40px;
  margin-bottom: 32px;
}
.hero > h1 {
  margin: 0 auto 16px 0;
  font-size: 36px;
  font-weight: 600;
}
.hero > p {
  width: 320px;
  font-size: 16px;
  font-weight: 300;
}
